#movies-container{
    margin-top:30px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
}

.movie-card{
    background:white;
    padding:15px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.movie-card img{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:10px;
}

.movie-card h3{
    margin:10px 0;
}